<h1>Demo#index</h1>
<p>Find me in app/views/demo/index.html.erb</p>

<% @array.each do |n| %>
	<%= n %><br />
<% end %>

<%= link_to('Sections', {:controller => 'sections', :action => 'index'}) %>
<%= link_to('Pages', 	{:controller => 'pages', :action => 'index'}) %>
<%= link_to('Subjects', {:controller => 'subjects', :action => 'index'}) %>

<br />

<% text = "'); alert('Gottcha" %>

<%= link_to('Roar', '#', :onclick => "alert('You said #{j(text)}');") %>

<%= javascript_tag("alert('You said #{j(text)}');") %>

<%# javascript_tag("roar('rails');") %>